In [25]:
import pandas as pd

In [26]:
data = pd.read_csv("credit.csv")
print(data.head(5))

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [27]:
data.shape

(5500, 10)

In [28]:
print(data.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location'],
      dtype='object')

In [29]:
data.describe()

       Transaction_ID  Customer_ID       Amount
count     5500.000000  5500.000000  5500.000000
mean    102749.500000  2989.954182  2492.109224
std       1587.857571  1153.928878  1444.493842
min     100000.000000  1000.000000     6.550000
25%     101374.750000  1988.000000  1236.935000
50%     102749.500000  3000.000000  2502.405000
75%     104124.250000  3990.000000  3767.957500
max     105499.000000  4998.000000  4997.490000

In [30]:
print(data.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [31]:
print(data["Transaction_Date"])

0       2023-01-01
1       2023-01-01
2       2023-01-01
3       2023-01-01
4       2023-01-01
           ...
5495    2023-08-17
5496    2023-08-18
5497    2023-08-18
5498    2023-08-18
5499    2023-08-18
Name: Transaction_Date, Length: 5500, dtype: object

In [32]:
data["Transaction_Date"] = pd.to_datetime(data["Transaction_Date"], errors='coerce')
data["Year"] = data["Transaction_Date"].dt.year
data["Month"] = data["Transaction_Date"].dt.month
data["Day"] = data["Transaction_Date"].dt.day

print(data.dtypes)

Transaction_ID                 int64
Customer_ID                    int64
Transaction_Date      datetime64[ns]
Transaction_Type              object
Merchant                      object
Category                      object
Amount                       float64
Payment_Mode                  object
Transaction_Status            object
Location                      object
Year                           int32
Month                          int32
Day                            int32
dtype: object

2 data selection and indexing

In [42]:
jan_2024_transactions = data[(data['Year'] == 2024) & (data['Month'] == 1)]
print("\nStep 2.1: Transactions in January 2024:")
print(jan_2024_transactions)

Step 2.1: Transactions in January 2024:
Empty DataFrame
Columns: [Transaction_ID, Customer_ID, Transaction_Date, Transaction_Type, Merchant, Category, Amount, Payment_Mode, Transaction_Status, Location, Year, Month, Day]
Index: []

In [45]:
filter_amount = data[(data["Amount"] > 1000) & 
                     (data["Transaction_Type"] == "Online")]
print(filter_amount.head())

    Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0           100000         4452       2023-01-01           Online  Walmart
3           100003         4545       2023-01-01           Online  BestBuy
6           100006         1587       2023-01-01           Online  Netflix
14          100014         1855       2023-01-01           Online  Walmart
18          100018         4438       2023-01-01           Online  BestBuy

         Category   Amount Payment_Mode Transaction_Status       Location  \
0          Travel  4520.70   Debit Card           Approved      Jonesport
3          Travel  2659.96   Debit Card           Approved     Hawkinston
6   Entertainment  2309.06   Debit Card           Approved      Scottport
14       Clothing  2365.67  Credit Card           Approved  Catherineland
18         Dining  2930.38          UPI           Approved    Johnsonside

    Year  Month  Day  Discounted_Amount Amount_Category
0   2023      1    1          4294.6650            High
3   2023      1    1          2526.9620            High
6   2023      1    1          2193.6070            High
14  2023      1    1          2247.3865            High
18  2023      1    1          2783.8610            High

In [40]:
approved_transactions = data[data['Transaction_Status'] == 'Approved']
print(approved_transactions.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location  Year  \
0    Travel  4520.70   Debit Card           Approved      Jonesport  2023
1    Travel  1437.85   Debit Card           Approved  Port Jennifer  2023
2  Clothing  3320.52       PayPal           Approved     Port James  2023
3    Travel  2659.96   Debit Card           Approved     Hawkinston  2023
4    Travel  2517.07   Debit Card           Approved    Matthewland  2023

   Month  Day
0      1    1
1      1    1
2      1    1
3      1    1
4      1    1

In [43]:
data['Discounted_Amount'] = data['Amount'].apply(lambda x: x * 0.95 if x > 500 else x)
print(data[['Amount', 'Discounted_Amount']].head())

    Amount  Discounted_Amount
0  4520.70          4294.6650
1  1437.85          1365.9575
2  3320.52          3154.4940
3  2659.96          2526.9620
4  2517.07          2391.2165

In [44]:
data['Amount_Category'] = pd.cut(data['Amount'], 
                               bins=[0, 100, 500, float('inf')],
                               labels=['Low', 'Medium', 'High'])
print(data[['Amount', 'Amount_Category']].head())

    Amount Amount_Category
0  4520.70            High
1  1437.85            High
2  3320.52            High
3  2659.96            High
4  2517.07            High

In [46]:
missing_merchant_percentage = data['Merchant'].isnull().mean()
if missing_merchant_percentage > 0.3:
    data.drop(columns=['Merchant'], inplace=True)
    print(f"\nMerchant column dropped due to {missing_merchant_percentage:.2%} missing values.")
else:
    print(f"\nMerchant column retained ({missing_merchant_percentage:.2%} missing values).")

Merchant column retained (0.00% missing values).