In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("credit.csv")
print(data.head(5))

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [22]:
data.shape

(5500, 10)

In [23]:
print(data.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location'],
      dtype='object')

In [24]:
data.describe()

       Transaction_ID  Customer_ID       Amount
count     5500.000000  5500.000000  5500.000000
mean    102749.500000  2989.954182  2492.109224
std       1587.857571  1153.928878  1444.493842
min     100000.000000  1000.000000     6.550000
25%     101374.750000  1988.000000  1236.935000
50%     102749.500000  3000.000000  2502.405000
75%     104124.250000  3990.000000  3767.957500
max     105499.000000  4998.000000  4997.490000

In [25]:
print(data.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [26]:
print(data["Transaction_Date"])

0       2023-01-01
1       2023-01-01
2       2023-01-01
3       2023-01-01
4       2023-01-01
           ...
5495    2023-08-17
5496    2023-08-18
5497    2023-08-18
5498    2023-08-18
5499    2023-08-18
Name: Transaction_Date, Length: 5500, dtype: object

In [28]:
data["Transaction_Date"] = pd.to_datetime(data["Transaction_Date"], errors='coerce')
data["Year"] = data["Transaction_Date"].dt.year
data["Month"] = data["Transaction_Date"].dt.month
data["Day"] = data["Transaction_Date"].dt.day

print(data.dtypes)

Transaction_ID                 int64
Customer_ID                    int64
Transaction_Date      datetime64[ns]
Transaction_Type              object
Merchant                      object
Category                      object
Amount                       float64
Payment_Mode                  object
Transaction_Status            object
Location                      object
Year                           int32
Month                          int32
Day                            int32
dtype: object

In [31]:
data[data['Amount']>1000]

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day
0,100000,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport,2023,1,1
1,100001,2775,2023-01-01,ATM,BestBuy,Travel,1437.85,Debit Card,Approved,Port Jennifer,2023,1,1
2,100002,2259,2023-01-01,Mobile Payment,Uber,Clothing,3320.52,PayPal,Approved,Port James,2023,1,1
3,100003,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston,2023,1,1
4,100004,2137,2023-01-01,ATM,Amazon,Travel,2517.07,Debit Card,Approved,Matthewland,2023,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,105495,3262,2023-08-17,ATM,Apple Store,Travel,4554.82,Debit Card,Approved,South Hannahtown,2023,8,17
5496,105496,1234,2023-08-18,POS,Uber,Travel,4118.51,Debit Card,Approved,South Courtney,2023,8,18
5497,105497,3978,2023-08-18,Online,Apple Store,Clothing,2981.13,UPI,Approved,Rubenton,2023,8,18
5498,105498,3082,2023-08-18,ATM,Uber,Clothing,2168.39,Debit Card,Approved,East Brianfurt,2023,8,18
5499,105499,2271,2023-08-18,Mobile Payment,Netflix,Entertainment,1918.66,UPI,Approved,New Stephaniebury,2023,8,18

In [39]:
data[data["Amount"] <= 1000]
data[data["Transaction_Type"] == "Online"]

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Type,Merchant,Category,Amount,Payment_Mode,Transaction_Status,Location,Year,Month,Day
0,100000,4452,2023-01-01,Online,Walmart,Travel,4520.70,Debit Card,Approved,Jonesport,2023,1,1
3,100003,4545,2023-01-01,Online,BestBuy,Travel,2659.96,Debit Card,Approved,Hawkinston,2023,1,1
6,100006,1587,2023-01-01,Online,Netflix,Entertainment,2309.06,Debit Card,Approved,Scottport,2023,1,1
14,100014,1855,2023-01-01,Online,Walmart,Clothing,2365.67,Credit Card,Approved,Catherineland,2023,1,1
18,100018,4438,2023-01-01,Online,BestBuy,Dining,2930.38,UPI,Approved,Johnsonside,2023,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5477,105477,3001,2023-08-17,Online,Walmart,Entertainment,101.00,UPI,Approved,South Davidland,2023,8,17
5486,105486,1608,2023-08-17,Online,Netflix,Dining,2302.20,Credit Card,Approved,Port Paulmouth,2023,8,17
5487,105487,4593,2023-08-17,Online,Amazon,Travel,3707.66,Credit Card,Approved,Dukeview,2023,8,17
5494,105494,3478,2023-08-17,Online,Walmart,Entertainment,683.24,Debit Card,Approved,New Stephanie,2023,8,17
5497,105497,3978,2023-08-18,Online,Apple Store,Clothing,2981.13,UPI,Approved,Rubenton,2023,8,18