In [ ]:
import pandas as pd

data = {
    'Store': ['North', 'South', 'North', 'East', 'South', 'East', 'North'],
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Laptop', 'Tablet'],
    'Sales': [1200, 800, 1500, 600, 900, 1100, 700],
    'Quantity': [2, 3, 3, 1, 4, 2, 2]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
# group by store and sum all numberic columns
store_summary = df.groupby('Store').sum()
print(store_summary)

In [ ]:
# group single column
sales_by_store = df.groupby('Store')['Sales'].sum()
print(sales_by_store)

In [27]:
# multiple Aggregation (sum,mean,count)
summary = df.groupby('Store').agg({
    "Sales":['sum','mean','count'],
    "Quantity":'sum'
})

print(summary)

      Sales                    Quantity
        sum         mean count      sum
Store
East   1700   850.000000     2        3
North  3400  1133.333333     3        7
South  1700   850.000000     2        7

In [ ]:
# group by multiple column
by_store_product = df.groupby(['Store','Product'])['Sales'].sum()
print(by_store_product)

In [ ]:
data = pd.read_csv("credit.csv")
print(data.head())

In [ ]:
amount_trans = data.groupby('Transaction_Type')['Amount'].sum()
print(amount_trans)

In [ ]:
amount_mer = data.groupby('Merchant')['Amount'].sum()
print(amount_mer)

In [ ]:
amount_cat = data.groupby(['Merchant','Category'])['Amount'].sum()
print(amount_cat)

In [30]:
summary_amount = data.groupby('Merchant').agg({
    "Amount":['sum','mean'],
    "Category":'sum',
    "Transaction_Type":'sum'
})

print(summary_amount)

                 Amount               \
                    sum         mean
Merchant
Amazon       1917722.25  2490.548377
Apple Store  1847984.32  2463.979093
BestBuy      1974955.79  2499.944038
Netflix      1890755.93  2442.837119
Target       1970689.62  2576.064863
Uber         2046901.19  2457.264334
Walmart      2057591.63  2515.393191

                                                      Category  \
                                                           sum
Merchant
Amazon       TravelDiningEntertainmentElectronicsGroceriesE...
Apple Store  TravelGroceriesTravelTravelTravelElectronicsGr...
BestBuy      TravelTravelDiningGroceriesTravelClothingEnter...
Netflix      EntertainmentElectronicsGroceriesDiningGroceri...
Target       EntertainmentElectronicsElectronicsDiningCloth...
Uber         ClothingGroceriesDiningClothingDiningGroceries...
Walmart      TravelClothingElectronicsEntertainmentGrocerie...

                                              Transaction_Type
                                                           sum
Merchant
Amazon       ATMPOSATMATMOnlineMobile PaymentPOSMobile Paym...
Apple Store  OnlineATMMobile PaymentPOSPOSOnlineOnlinePOSOn...
BestBuy      ATMOnlineOnlineOnlineOnlineOnlineATMATMATMMobi...
Netflix      OnlineMobile PaymentMobile PaymentMobile Payme...
Target       Mobile PaymentATMMobile PaymentPOSATMATMPOSOnl...
Uber         Mobile PaymentATMATMATMPOSATMATMMobile Payment...
Walmart      OnlineOnlineMobile PaymentOnlineMobile Payment...